<!DOCTYPE html>
<hmtl>
    <link rel='stylesheet' href="static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.js"></script> 
    <script src="static/main.js"></script>
    <div id="targetArea">
        <div id="wrapper1">
            <button class='select' value="1">1</button>
            <button class='select' value="2">2</button>
            <button class='select' value="3">3</button>
            <button class='select' value="4">4</button>
            <button class='select' value="5">5</button>
        </div>
        <div id="wrapper2"></div>
        <div id="wrapper3"></div>
    </div>
</hmtl>
